.cardBody {
    width: 300px;
    padding: 30px 20px;
}

.titleBody {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    text-transform: uppercase;
    margin: 0;
}

.filterGroup {
    margin: 40px 20px 0;
}
